<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
</head>
<body>
    <!-- page index pour une application permettant de faire les apprentissages en lignes -->
    <h1>Acceuil</h1>
    <p>Bienvenue sur notre site d'apprentissage en ligne !</p>
    <p>Vous pouvez vous inscrire ou vous connecter pour commencer à apprendre.</p>
    <p>Si vous êtes déjà inscrit et connecté, vous pouvez accéder à votre espace personnel pour suivre vos progrès et accéder à des ressources supplémentaires.</p>
    <p>N'hésitez pas à nous contacter si vous avez des questions ou des commentaires.</p>
    <a href="{{ url_for('login') }}">Se connecter</a>
</body>
</html>